entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["node", "index.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[agent]
expertMode = true

[userenv]

[userenv.shared]
TELEGRAM_BOT_TOKEN = "8042281786:AAEOEHs55HM1h7CFDCT_2ZjGyAFm71cN1As"
RPC_URL = "https://rpc.sepolia.org"
PRIVATE_KEY = "0xf248c45e6407c6c9e47d87e88d3f696afaddf0205c814d8b6579ecd836fd70d6"
